.bd-masthead {
  --bd-pink-rgb: #{to-rgb($pink)};
  --bd-violet-rgb: #{to-rgb($indigo)};
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), .01), rgba(var(--bs-body-bg-rgb), 1) 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), .5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bs-secondary-rgb), .5), transparent 50%), radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), .5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), .5), transparent 50%);

  .highlight {
    @include border-radius($btn-border-radius-lg);
    padding: $btn-padding-y-lg $btn-padding-x-lg;
    margin-bottom: 0;
  }
}
