<div class="container-xxl masthead-followup">
  <div class="col-lg-7 mx-auto pb-3 mb-3 mb-md-5 text-md-center">
    <h2 class="display-5 mb-3 fw-semibold lh-sm">Get started any way you want</h2>
    <p class="lead fw-normal">Jump right into Bootstrap Extensions, install it via package manager, or download the source code.</p>
    <p class="d-flex justify-content-md-start justify-content-md-center lead fw-normal">
      <a href="/docs/getting-started/download/" class="icon-link fw-semibold justify-content-center ps-md-4">Read installation docs</a>
    </p>
  </div>

  <section class="row g-3 g-md-5 mb-5 pb-5 justify-content-center">
    <div class="col-lg-6 py-lg-4 pe-lg-5">
      <h3 class="fw-semibold">Built with extensions</h3>
      <p class="pe-lg-5">Bootstrap Extensions extends the Bootstrap Sass. Each component has been built as a true Bootstrap component.</p>
      <p>Bootstrap Extensions has evolved and grown alongside Bootstrap, making it an excellent choice as your UI foundation.</p>
    </div>
    <div class="col-lg-6 py-lg-4 ps-lg-5 border-lg-start">
      <h3 class="fw-semibold">Bootstrap at its core</h3>
      <p class="pe-lg-5">Built with compatibility in mind, we embrace our bootstrap core and strive to be compatible with the world's largest UI ecosystem.</p>
      <p>By relying on the Bootstrap stylesheet, Bootstrap Extensions just works with the thousands of Bootstrap themes you already love.</p>
    </div>
  </section>
</div>
