// Callouts

// Base Styles
.callout {
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: $spacer;
  color: $body-color;
  background-color: $callout-bg;
  border: $callout-border-width solid $callout-border-color;
  border-radius: $callout-border-radius;
}

// Improve Inner Content Alignment & Spacing
.callout-content,
.callout-secondary {
  padding: $callout-padding-y $callout-padding-x;
  vertical-align: middle;
}

.callout-content {
  flex-grow: 1;

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p {
    + p {
      margin-top: $spacer * .3;
    }
  }
}

.callout-secondary {
  background-color: $secondary;
  border-left: $callout-border-width solid $callout-border-color;
}
